<div class="d-flex flex-column">
  <%= button_to 'Accept', request_path(request), method: :patch, params:{ :status => 'accept'}, class: 'btn btn-outline-success btn-sm mb-2' %>
  <%= button_to 'Refuse', request_path(request), method: :patch, params:{ :status => 'refuse'}, class: 'btn btn-outline-danger btn-sm' %>
</div>
