<% if request.status == 'accept' %>
  <p class="text-success little">Accepted!</p>
<% elsif request.status == 'refuse' %>
  <p class="text-danger little">Refused.</p>
<% else %>
  <p class="text-secondary little"><%= request.status.capitalize %>...</p>
<% end %>
