.btn-ghost {
  color: #fdecec;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;
  display: flex;
  text-align: center;
  justify-content: center;
  width: 50%;
  margin-left: 25%;


  &:hover {
    opacity: 1;
    color: white;
    background-color: rgba(254, 254, 254, 0.311);
  }
}

.btn-image {
  padding: 0px;
  border-width: 0px;
}

.btn-purchase {
  border-radius: 6px;
  margin-top: 19px;
  border: 1px;
  transition: 0.3s ease;

  &:hover {
    background-color: rgb(172, 255, 227);
  }
}

.decline {
  border: 1px;
  border-radius: 10px;
  background-color: rgba(255, 69, 69, 0.386);
  transition: 0.3s ease;

  &:hover {
    background-color: rgba(255, 103, 103, 0.929);
  }
}

.sub-btn {
  margin-right: 10px;
  border: 1px;
  border-radius: 10px;
  background-color: rgba(172, 255, 227, 0.658);
  transition: 0.3s ease;

  &:hover {
    background-color: rgb(2, 255, 171);
  }
}
