.alertbox {
  float: left;
  height: 78px;
  background-color: white;
  display: hidden;
  position: fixed;
  top: 24vh;
  z-index: 10;
  bottom: 16vh;
  left: 37vw;
  -webkit-box-shadow: 0 3px 4px black;
  -moz-box-shadow: 0 3px 4px black;
  box-shadow: 0 3px 4px black;
  border-top: 17px solid #3f7fff;
}

.alertboxinfo {
padding: 15px;
}


.alertbartitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 200%;
  color: black;
  padding-top: 10px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 18px;

}



#results {
display: inline-block;
}
