.alertbox {
  float: left;
  width: 50vw;
  height: 68vh;
  background-color: white;
  display: hidden;
  position: absolute;
  z-index: 10;
  bottom: 16vh;
  left: 25vw;
  -webkit-box-shadow: 0 3px 4px black;
  -moz-box-shadow: 0 3px 4px black;
  box-shadow: 0 3px 4px black;

}

.alertboxbar {

  width: 100%;

  height: 35px;

  background-color: #2196F3;

  margin-bottom: 10px;

}

.alertbartext {

  padding-left: 18px;

  padding-right: 18px;

  padding-bottom: 18px;

  font-size: 18px;

  -webkit-touch-callout: none;

  -webkit-user-select: none;

  -khtml-user-select: none;

  -moz-user-select: none;

  -ms-user-select: none;

  -o-user-select: none;

  user-select: none;

  pointer-events: none;

}

.alertbartitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 200%;
  color: black;
  padding-top: 10px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 18px;

}

.closebutton {

  font-size: 35px;

  line-height: 35px;

  margin-left: calc(100% - 27px);

  margin-right: 12px;

  color: white;

  text-align: right;

  height: 100%;

  vertical-align: middle;

  text-decoration: none;

  cursor: default;

}

.closebutton:hover {

  color: #BDBDBD;

}

#results {
display: inline-block;
}
